{% load static %}


<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- bootstrap-CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/easy-responsive-tabs.css' %}" />
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- Fontawesome-CSS -->
<link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
<link href="{% static 'css/menu.css' %}" rel="stylesheet" type="text/css" media="all" /> 
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	







