{% load static %}

<script src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/easing.js' %}"></script>
<script src="{% static 'js/easyResponsiveTabs.js' %}"></script>
<script src="{% static 'js/filedrag.js.' %}"></script>
<script src="{% static 'js/intlTelInput.js' %}"></script>
<script type='text/javascript' src='{% static "js/jquery-2.2.3.min.js" %}'></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexisel.js' %}"></script><!-- flexisel-js -->	
<script src="{% static 'js/jquery.menu-aim.js' %}"> </script>
<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils.js' %}"></script>

