{% extends 'base/base.html' %}


{% block content %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}


<!-- inner banner -->	
	<div class="w3layouts-inner-banner">
		<div class="container">
			<div class="logo">
				<h1><a class="cd-logo link link--takiri" href="{{ home_url }}">Match <span><i class="fa fa-heart" aria-hidden="true"></i>Made in heaven.</span></a></h1>
			</div>
         <h1 class="cd-logo link link--takiri" style="font-size: 50px; margin-left: 270px; margin-top: 150px; color: white;">ABOUT</h1>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //inner banner -->	
	
	<!-- breadcrumbs -->
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs"><a href="{{ home_url }}">Home</a> > <span>ABOUT</span></span>
		</div>
	</div>
	<!-- //breadcrumbs -->


<div class="container">
<p>Marriage is not only a traditional ritual, but also an important Event in an individuals life. Earlier, elders only were taking part in selecting the alliances & it was being carried out in their traditional ways. Since marriages were performed at very early age & youngsters were not mature enough. Hence elders decision was final & marriages were easier. But now time has changed. For various reasons, family life has become more & more complicated. Now a days youth take an active role in choosing their life partner.  Elders also play a role in the interest of the family. Nowadays younger generation is giving importance to many aspects. The choice of life partner has become extremely difficult. Nowadays the youth give importance to economic, stability, education, and intelligence & hence the selection of the partner is not that easy.</p><br>

 

<p>So, to assist these persons we have started "Lyfmatch.com". Lyf Match has adopted a unique Online + Offline mode to locate the most suitable match for you by employing all the boons of the latest computer technology, Print and personal contacts.</p><br>

 

<p>Lyfmatch.com, one of the Central Indias well known and most successful matrimonial service, has been trusted since 2019 to help the central Indias community to find their soulmates. It is one of the fastest growing matrimonial portals dedicated towards building matrimonial alliances and creating successful marriages.Today, hundreds of thousands of people have met their life partners through our revolutionary matchmaking service. Our company pioneered online matrimonials services in 2003 and continues to lead the exciting matrimony services.</p><br>

 

<p>Our mission is to provide people with a superior matchmaking experience by expanding the opportunities available to meet potential life partners and build fulfilling relationships. We strive to do this through superior technology, in-depth research, valuable matrimonial content & services, and above all the highest quality of customer service delivered with a sense of warmth, understanding, respect, and company spirit.</p><br>

 

<p>Lyf Match has a large network of centers in big cities of India that is Delhi, Pune, Lucknow, Jaipur, Bhilai, Bhopal, Indore, Jabalpur, Bilaspur, Visakhapattnam, Jamshedpur that offer matrimonial services through all centers that are being rolled out. Our offices are the direct contact points where you can seek assistance in your partner search and make payments. Soon users will get online payments facilities to updated their membership too. We offer SMS services that will keeps you updated from Registration and then keeps updated you about your profile and having of finding any interests time to time accordingly.</p><br>

</div>	


{% endblock %}
