{% extends 'base/base.html' %}


{% block content %}

{% url 'home' as home_url %}
{% url 'register' as register_url %}


{% load static %}



	<!-- inner banner -->	
	<div class="w3layouts-inner-banner">
		<div class="container">
			<div class="logo">
				<h1><a class="cd-logo link link--takiri" href="{{ home_url }}">Match <span><i class="fa fa-heart" aria-hidden="true"></i>Made in heaven.</span></a></h1>
			</div>
				<h1 class="cd-logo link link--takiri" style="font-size: 50px; margin-left: 180px; margin-top: 150px; color: white;">MEMBERSHIP PLANS</h1>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //inner banner -->	
	
	<!-- breadcrumbs -->
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs"><a href="{{ home_url }}">Home</a> > <span>MEMBERSHIP</span></span>
		</div>
	</div>
	<!-- //breadcrumbs -->

	<!-- contact section -->
	<div class="w3ls_contact_section">
		<div class="container">
			<!-- <div class="w3_C_headquarters text-center">
				<h4>Headquarters</h4>
				<div class="agileits_address">
					<div class="col-md-4 agile_address">
						<i class="fa fa-home" aria-hidden="true"></i>
						<p>Second Floor, Chama Enclave Near Alwatiya Hospital, Maruti Estate Road, Agra - 282010</p>
					</div>
					<div class="col-md-4 agile_address">
						<i class="fa fa-phone" aria-hidden="true"></i>
						<p>+91 8006660781</p>
					</div>
					<div class="col-md-4 agile_address">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
						<a href="mailto:mail@matchmadeinheaven.com">info.lyfmatch@gmail.com.com</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div> -->
			<div class="w3_locations">
				<h2 class="text-center">Membership Plans</h2>
				<p class="text-center py-2">Welcome to <b>Lyfmatch.com</b> Membership options Membership Types.<br>
					We have Free & Paid Membership Plans with different features and services you can adopt any plan according to your requirement.<br>
					Hurry Up ! Get Registered Now To find your perfect Soulmate<br></p>
			</div>

			<div class="w3_locations">
				<h2 class="text-center">FREE MEMBERSHIP</h2>

				<h4>You can Add and Manage your displayed profiles.</h4><br>
				<h4>Edit your profile.</h4><br>
				<h4>Upload your photo.</h4><br>
				<h4>Advance Search Facility</h4><br>
				<h4>Express Interest - send "Express Interest" messages to anyone you like.</h4><br>
				<p>Your profile will be available to all our paid members. There will be one way traffic. Our paid members can get your details from lyfmatch.com and can contact you but you cannot get their contact details so you cannot contact them.</p>
			</div>

			<div class="w3_locations">
				<h2 class="text-center">Small plan</h2>
				<p>Duration : 4 Month</p>
				<p>Total Contact : 60</p>
				<p>Costs : Rs 4100 /-</p><br>

				<h4>You can Add and Manage your displayed profiles.</h4><br>
				<h4>Edit your profile.</h4><br>
				<h4>Upload your photo.</h4><br>
				<h4>Advance Search Facility</h4><br>
				<h4>Express Interest - send "Express Interest" messages to anyone you like.</h4><br>
				<h4>Others- We have a  package of Rs. 4100 in which you get 4 months of service duration also you get 60 contact numbers which will help you to find your perfect match. here you can upload your photo, advance search facility, send "express interest"  messages to anyone you like, you can reply to personalised messages sent by paid members. to take the essence of matchmaking to the next level lyf match strive to be more than just a matrimonial site. assisting your search for the perfect partner, giving this process a personal touch and getting you one step closer to your marital bliss is our ultimate goal. when your journey for a soul mate is piloted by us at every step with the necessary assistance, the appropriate question should be why anyone else.</h4>
				
			</div>


			<div class="w3_locations">
				<h2 class="text-center">Silver plan</h2>
				<p>Duration : 6 Month</p>
				<p>Total Contact : 95</p>
				<p>Costs : Rs 6600  /-</p><br>

				<h4>You can Add and Manage your displayed profiles.</h4><br>
				<h4>Edit your profile.</h4><br>
				<h4>Upload your photo.</h4><br>
				<h4>Advance Search Facility</h4><br>
				<h4>Express Interest - send "Express Interest" messages to anyone you like.</h4><br>
				<h4>Others-  We have a  package of Rs. 6600 in which you get 6 months of service duration also you get 95 contact numbers which will help you to find your perfect match. here you can upload your photo, advance search facility, send "express interest"  messages to anyone you like, you can reply to personalised messages sent by paid members. to take the essence of matchmaking to the next level lyf match strive to be more than just a matrimonial site. assisting your search for the perfect partner, giving this process a personal touch and getting you one step closer to your marital bliss is our ultimate goal. when your journey for a soul mate is piloted by us at every step with the necessary assistance, the appropriate question should be why anyone else.</h4>
				
			</div>

			<div class="w3_locations">
				<h2 class="text-center">Gold plan</h2>
				<p>Duration : 10 Month</p>
				<p>Total Contact : 175</p>
				<p>Costs : Rs 9100 /-</p><br>

				<h4>You can Add and Manage your displayed profiles.</h4><br>
				<h4>Edit your profile.</h4><br>
				<h4>Upload your photo.</h4><br>
				<h4>Advance Search Facility</h4><br>
				<h4>Express Interest - send "Express Interest" messages to anyone you like.</h4><br>
				<h4>Others- we have a package of Rs. 9100 in which you get 10 month of service duration. through which you can get 175 contact numbers. we have an experienced professional lyf match team who have come together to bring a fresh, new concept of personal matchmaking. our team members are well trained to have an eye for detail, to find and bring out the best in each profile registered with lyf match our staff members are extremely dedicated and passionate about changing the lives of others by providing them perfect match for their life.</h4>
				
			</div>

			<div class="w3_locations">
				<h2 class="text-center">Royal plan</h2>
				<p>Duration : 12 Month</p>
				<p>Total Contact : 240</p>
				<p>Costs : Rs 12500 /-</p><br>

				<h4>You can Add and Manage your displayed profiles.</h4><br>
				<h4>Edit your profile.</h4><br>
				<h4>Upload your photo.</h4><br>
				<h4>Advance Search Facility</h4><br>
				<h4>Express Interest - send "Express Interest" messages to anyone you like.</h4><br>
				<h4>we have a package of Rs. 12500 in which you get 12 month of service duration. through which you can get 240 contact numbers. we have an experienced professional lyf match team who have come together to bring a fresh, new concept of personal matchmaking. our team members are well trained to have an eye for detail, to find and bring out the best in each profile registered with lyf match our staff members are extremely dedicated and passionate about changing the lives of others by providing them perfect match for their life.</h4>
				
			</div>

			<div class="w3_locations">
				<h2 class="text-center">Grand Royal plan</h2>
				<p>Duration : 14 Month</p>
				<p>Total Contact : 370</p>
				<p>Costs : Rs 16000 /-</p><br>

				<h4>You can Add and Manage your displayed profiles.</h4><br>
				<h4>Edit your profile.</h4><br>
				<h4>Upload your photo.</h4><br>
				<h4>Advance Search Facility</h4><br>
				<h4>Express Interest - send "Express Interest" messages to anyone you like.</h4><br>
				<h4>Others- we have a package of Rs. 16000 in which you get 14 month of service duration. through which you can get 370 contact numbers. we have an experienced professional lyf match team who have come together to bring a fresh, new concept of personal matchmaking. our team members are well trained to have an eye for detail, to find and bring out the best in each profile registered with lyf match our staff members are extremely dedicated and passionate about changing the lives of others by providing them perfect match for their life.</h4>
				<
			</div>

			<div class="w3_locations">
				<h2 class="text-center">Luxury Plan</h2>
				<p>Duration : 26 Month</p>
				<p>Total Contact : 675</p>
				<p>Costs : Rs 30000 /-</p><br>

				<h4>You can Add and Manage your displayed profiles.</h4><br>
				<h4>Edit your profile.</h4><br>
				<h4>Upload your photo.</h4><br>
				<h4>Advance Search Facility</h4><br>
				<h4>Express Interest - send "Express Interest" messages to anyone you like.</h4><br>
				<h4>Others- we have a package of Rs. 30,000 in which you get 26 month of service duration. through which you can get 675 contact numbers. we have an experienced professional LYF MATCH.COM team who have come together to bring a fresh, new concept of personal matchmaking. our team members are well trained to have an eye for detail, to find and bring out the best in each profile registered with LYFmatch.COM our staff members are extremely dedicated and passionate about changing the lives of others by providing them perfect match for their life.</h4>
			</div>			
			
			<div class="w3_locations">
				<h2 class="text-center">Miniplan</h2>
				<p>Duration : 2 Month</p>
				<p>Total Contact : 39</p>
				<p>Costs : Rs 2500 /-</p><br>

				<h4>You can Add and Manage your displayed profiles.</h4><br>
				<h4>Edit your profile.</h4><br>
				<h4>Upload your photo.</h4><br>
				<h4>Advance Search Facility</h4><br>
				<h4>Express Interest - send "Express Interest" messages to anyone you like.</h4><br>
				<h4>We have a  package of Rs. 2500 in which you get 2 months of service duration also you get 39 contact numbers which will help you to find your perfect match. here you can upload your photo, advance search facility, send "express interest"  messages to anyone you like, you can reply to personalised messages sent by paid members. to take the essence of matchmaking to the next level lyf match strive to be more than just a matrimonial site. assisting your search for the perfect partner, giving this process a personal touch and getting you one step closer to your marital bliss is our ultimate goal. when your journey for a soul mate is piloted by us at every step with the necessary assistance, the appropriate question should be why anyone else.</h4>
				
			</div>			

		</div>

	</div>
	<!-- //contact section -->
	



{% endblock %}
