{% extends "base/base.html" %}
{% block content %}


{% url 'home' as home_url %}
{% url 'membership' as membership_url %}
{% url 'register' as register_url %}

{% load static %}


  <!-- inner banner --> 
  <div class="w3layouts-inner-banner">
  <div class="container">
    <div class="logo">
      <h1><a class="cd-logo link link--takiri" href="{{ home_url }}">Match <span><i class="fa fa-heart" aria-hidden="true"></i>Made in heaven.</span></a></h1>
    </div>
         <h1 class="cd-logo link link--takiri" style="font-size: 50px; margin-left: 270px; margin-top: 150px; color: white;">MY PROFILE</h1>
    <div class="clearfix"></div>
    </div>
  </div>
  <!-- //inner banner --> 

    <!-- Bridegroom Profile Details -->
    <div class="w3ls-list">
        <div class="container">
        <h2>My Profile</h2>
        <div class="col-md-12 profiles-list-agileits">
            <div class="single_w3_profile">
                <div class="agileits_profile_image">
                {% if user.photo %}
                    <img src="{{user.photo.url}}" alt="..." style="width: 240px;height: 350px; margin-top:10px" class="img-fluid">
                {% else %}    
                    {% if user.gender == 'Male' %}    
                        <img src="{% static 'images/profile-image-men.jpg' %}" alt="profile image" class="img-fluid" />
                    {% else %}
                        <img src="{% static 'images/profile-image-girl.jpg' %}" alt="profile image" class="img-fluid" />
                    {% endif %}
                {% endif %}
                </div>
                <div class="w3layouts_details">
                    <h4>Name : {{ user.first_name }}  {{ user.last_name }}</h4><br>
                    <h4>Profile ID : {{ user.profile.profile_id }} <b style="color: black">( {{ user.accountType }} MEMBER )</b></h4><br><br>

                    <a href="{{ membership_url }}">View Contact</a>
                    <a href="{{ membership_url }}">Send Interest</a>
                    <a href="{{ membership_url }}">Send Message</a>
                    <a href="#">Block Profile</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="profile_w3layouts_details">
                <div class="agileits_aboutme">
                    <h4>About me</h4>
                    <h5>Brief about me:</h5>
                    <p>{{user.about_myself}}</p>

                    <h5>Basic Details:</h5>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Marital Status : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.maritalStatus }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Age : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.age }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Food Prefrence : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.eatingHabits }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Height : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.height }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Physical Status : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.phsyicalStatus }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Mother Tongue : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.motherTongue }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Blood Group : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.bloodGroup }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Complexion : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.complexion }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Weight : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.weight }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Religion : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.religion }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Caste : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.caste }}
                        </div>
                        <div class="clearfix"> </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Edit Profile : </label>
                        <div class="col-sm-9 w3_details">
                                <button class='form-control' style="background-color: #15395A;"><a href="{% url 'useredit' %}" style="text-decoration: none;color:white">EDIT profile</a></button><br>
                        </div>
                        <div class="clearfix"> </div>
                    </div>                        
                    </div><hr>                                                                                                    
                    <h5>Professional Details:</h5>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Education : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.education }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Occupation : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.occupation }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Employed In : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.employedIn }}
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Annual Income : </label>
                        <div class="col-sm-9 w3_details">
                            {{ user.salary }}
                        </div>
                        <div class="clearfix"> </div>
                    </div><hr>

                    <h5>Partner Prefrence:</h5>

                    <div class="form_but1">
                        <label class="col-sm-3 control-label1" for="Relation">Add Preference : </label>
                        <div class="col-sm-9 w3_details">
                            <button class='form-control' style="background-color: #15395A;"><a href="{% url 'preference' %}" style="text-decoration: none;color:white">ADD / EDIT (preference)</a></button><br>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- //Bridegroom Profile Details -->
    

    <!-- Get started -->
    <div class="w3layous-story text-center">
        <div class="container">
            <h4>Your story is waiting to happen!  <a href="{{ register_url }}">Get started</a></h4>
        </div>
    </div>
    <!-- //Get started -->



















{% endblock %}