{% extends 'base/base.html' %}


{% block content %}

{% load static %}
{% url 'home' as home_url %}



	<!-- inner banner -->	
	<div class="w3layouts-inner-banner">
	<div class="container">
		<div class="logo">
			<h1><a class="cd-logo link link--takiri" href="{{ home_url }}">Match <span><i class="fa fa-heart" aria-hidden="true"></i>Made in heaven.</span></a></h1>
		</div>
		     <h1 class="cd-logo link link--takiri" style="font-size: 50px; margin-left: 200px; margin-top: 150px; color: white;">QUICK SEARCH</h1>
		<div class="clearfix"></div>
		</div>
	</div>
	<!-- //inner banner -->	
	
	<!-- breadcrumbs -->
	<div class="w3layouts-breadcrumbs text-center">
		<div class="container">
			<span class="agile-breadcrumbs"><a href="{{ home_url }}">Home</a> > <span>Search</span></span>
		</div>
	</div>
	<!-- //breadcrumbs -->


	<!-- Search form -->
	<div class="w3ls-list">
		<div class="container">
		<h2>Search your Match</h2>
		<div class="col-12 profiles-list-agileits">
		<!--Horizontal Tab-->
			<div id="parentHorizontalTab">
				<ul class="resp-tabs-list hor_1">
					<li style="background-color: #CCC;">Quick Search</li>
					<!-- <li><a href="advance/">Advanced Search</a></li> -->
				</ul>
				<div class="resp-tabs-container hor_1">
					<div>	
						<div class="w3_regular_search">
							<form action="filterresult" method="get">
							   <div class="form_but1">
								<label class="col-sm-5 control-label1" for="sex">Looking For : </label>
								<div class="col-sm-7 form_radios">
                                 <div class="select-block1">
						          <select name="gender" id="gender" class="">
                                    <option value="">Select</option>
						            {% for g in gen %}
						              <option value="{{ g }}">{{ g }}</option>
						            {% endfor %}
						          </select>
						      	  </div>
								</div>
								<div class="clearfix"> </div>
							</div>



							<div class="form_but1">
								<label class="col-sm-5 control-label1" for="age_min">Age between : </label>
								<div class="w3agile__text col-sm-7 w3agile_banner_btom_login_left1">
									<select name="age_min" class="frm-field required">
										{% for age in ages %}
											<option value="{{age}}">{{age}}</option>
										{% endfor %}
									</select>
									<span>To </span>
									<select name="age_max" class="frm-field required">
										{% for age in ages %}
											<option value="{{age}}">{{age}}</option>
										{% endfor %}  		
									</select>
								</div>
								<div class="clearfix"></div>
							</div>


							  <div class="form_but1">
								<label class="col-sm-5 control-label1" for="religion">Religion : </label>
								<div class="col-sm-7 form_radios">
								  <div class="select-block1">
									<select name="religion" id="religion">
                                    <option value="">Any Religion</option>
										{% for r in rel %}
											<option value="{{ r }}">{{ r }}</option>
					            		{% endfor %}
									</select>
								  </div>
								</div>
								<div class="clearfix"> </div>
							  </div>
							  <div class="form_but1">
								<label class="col-sm-5 control-label1" for="sex">Mother Tongue : </label>
								<div class="col-sm-7 form_radios">
								  <div class="select-block1">
									<select name="community" id="community">
                                    <option value="">Any Mother Tongue</option>
							            {% for m in com %}
											<option value="{{ m }}">{{ m }}</option>
							            {% endfor %}
									</select>
								  </div>
								</div>
								<div class="clearfix"> </div>
							  </div>
							  <input type="submit" value="Search" />
							</form>
						</div>
					</div>
				<div>
			</div>
		</div>
		</div>
	</div>

	<!-- //Search form -->
	

  <!-- ------------------------------------------------------------------------------------------------------------------- -->
   
  <div class="container">
    {% if profiles %}
    {% for user in profiles %}  
      {% if user != request.user and not user.is_superuser %}
        <div class="card">
          <img src="{{ user.photo }}" alt="Profile Picture" style="width:100%">
          <h3>{{ user.username }}</h3>
          <p>Age: {{ user.age }}</p>
          <p>Gender: {{ user.gender }}</p>
          <p>Religion: {{ user.religion }}</p>
          <p>Mother Tongue: {{ user.motherTongue }}</p>
          <p>Firstname: {{ user.first_name }}</p>
        </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <p style="color: white;">No profiles found.</p> 
  {% endif %}

  </div></div></div>

  
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.like-link').click(function (event) {
        event.preventDefault();
        var userId = $(this).data('user-id');
  
        // Make an AJAX request to process the like action
        $.ajax({
          url: '',
          method: 'GET',  // Change this to 'POST' if your view requires a POST request
          success: function () {
            // After successfully processing the like action, redirect to the current page
            window.location.href = window.location.href;
          },
          error: function () {
            // Handle errors if needed
          }
        });
      });
    });
  </script>
 


	
	





{% endblock %}

